#navbar {
    position: fixed;
    min-width: 275px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: 3px solid #00161666;
}

#navbar a {
    display: block;
    padding: 10px 25px;
    color: #3580ca;
    text-decoration: none;
    border-top: 1px solid black;
}

#navbar ul {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

.nav-link {
    line-height: 2;
}

.main-section header {
    font-size: 26px;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    color: #555;
    line-height: 1.5;
    padding: 1.5em 1em;
}

header {
    font-weight: bold;
    color: #333;
}

nav > header {
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

nav > ul {
    list-style: none;
}

pre {
    max-width: 45em;
    padding: 1em;
    border-radius: 5px;
    background-color: #eee;
    border-left: 2px solid #69c;
    border-bottom: 1px solid #d8dee9;
    overflow-x: auto;
}
